@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-pad-x: 0.5rem;
  --page-pad-y: 0.5rem;
}

@media (min-width: 1024px) {
  :root {
    --page-pad-x: 3rem;
    --page-pad-y: 3rem;
  }
}

@layer base {
  body {
    @apply bg-red-600 text-slate-50 font-sans;
  }
}
